/* public/css/style.css */

:root {
    /* Farben definieren */
    --hintergrund1: #e9f1f8;

    --weiss: #FFFFFF;
    --text: #243B53;
    --rahmen: #D9E2EC;

    --haupt-btns: #334E68;
    --akzent-btns: #20B2AA;
    --akzent-btns-alt: #F06595;


}

body {
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    background: var(--hintergrund1);
    color: var(--text);
    padding: 20px;
}

h1, h2, h3 {
    color: var(--haupt-btns);
    font-weight: 600;
    letter-spacing: -0.5px;
}

.container, .advanced-search {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--weiss);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--weiss);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.event-table th, .event-table td {
    border: 1px solid var(--rahmen);
    padding: 12px;
    text-align: left;
}

.event-table th {
    background-color: var(--hintergrund1);
    color: var(--text);
}

.event-table tr:hover {
    background-color: #f1f1f1;
}

/* aufgabe2 */
.aufgabe2 {
    max-width: 300px;
}

.aufgabe2 form {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.kat-btn {
    padding: 10px 20px;
    background-color: var(--haupt-btns);
    color: var(--weiss);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.kat-btn:hover {
    background-color: var(--akzent-btns);
}
/* Suchleiste */

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-btn {
    padding: 10px 20px;
    background-color: var(--akzent-btns-alt);;
    color: var(--weiss);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.search-btn:hover {
    background-color: var(--akzent-btns);
}

.reset-link {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.reset-link:hover {
    text-decoration: underline;
    color: #333;
}

/* Erweiterte Suche */

.advanced-search form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.advanced-search .search-btn {
    grid-column: 2 / -1;
    margin-top : 10px;
}
.advanced-search {
    background: var(--hintergrund1);
    padding: 20px;
    border-radius: 4px;
}

/* Bild */

.event-image-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: visible;
    float: left;
    margin-right: 10px;
}

.event-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

    /* Magie: */
    transition: all 0.3s ease-in-out; /* Dauer: 0,3s, weicher Verlauf */
    z-index: 1;
}

.event-table tr:hover .event-image-wrapper img {
    transform: scale(4); /* vergrößert 4x */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /*3D-Effekt */
    z-index: 100; /* ebene */
    position: absolute;
}

