/* public/css/style.css */

:root {
    /* Farben definieren */
    --farbe1: #241E4E;
    --hintergrund1: #EBEBEB;
    --farbe2: #778472;
    --textfarbe1: #161230;
    --farbe3: #D2FF28;
    --farbe4: #0E9594;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, var(--farbe4), var(--farbe3));
    color: var(--textfarbe1);
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--hintergrund1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event-table th, .event-table td {
    border: 1px solid var(--farbe2);
    padding: 12px;
    text-align: left;
}

.event-table th {
    background-color: var(--hintergrund1);
    color: #ffffff;
}

.event-table tr:hover {
    background-color: #f1f1f1;
}

/* aufgabe2 */
.aufgabe2 {
    max-width: 300px;
}

.aufgabe2 form {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.kat-btn {
    padding: 10px 20px;
    background-color: var(--farbe4);
    color: var(--textfarbe1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.kat-btn:hover {
    background-color: var(--farbe3);
}
/* Suchleiste */

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-btn {
    padding: 10px 20px;
    background-color: var(--farbe4);;
    color: var(--textfarbe1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.search-btn:hover {
    background-color: var(--farbe3);
}

.reset-link {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.reset-link:hover {
    text-decoration: underline;
    color: #333;
}

/* Erweiterte Suche */

.advanced-search form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.advanced-search .search-btn {
    grid-column: 2 / -1;
    margin-top : 10px;
}

/* Bild */

.event-image-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: visible;
    float: left;
    margin-right: 10px;
}

.event-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

    /* Magie: */
    transition: all 0.3s ease-in-out; /* Dauer: 0,3s, weicher Verlauf */
    z-index: 1;
}

.event-image-wrapper:hover img {
    transform: scale(4); /* vergrößert 4x */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /*etwas 3D-Effekt */
    z-index: 100; /* ebene */
    position: absolute;
}

